body{
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
   
    background:url('https://res.cloudinary.com/edifice-solutions/image/upload/v1714576223/Screenshot_2024-05-01_at_16.08.40_erme96.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    font-size: 12px;

    height: 100vh;

}

.cardhead{

  
    padding: 8px;
   
    color: white;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
   background-color: #007;
}

.formborder{
    border: 1px solid #009;
    border-radius: 15px;
}

.lastme{
    color: #ff6513;
    font-size: 16px;
    font-weight: bold;
}

.lastme span{
    color:black;
    font-size: 16px;
    font-weight: bold;
}
.formdiv{
    border: 0.8px solid grey;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    
}
.formrow{
	border: 0px;
	clear: both;
	margin-top: 10px;
	}

.prompt{
	width: 150px;
	margin-right:10px;
	text-align: right;
	float: left;
	color: #000;
   	font-weight:bold;
	}

.element{
	border: 0px;
	text-align: left;
	margin-left: 50px;
	font-weight: normal;
	}

    .inputwide{
        width: 50%;
    }

    .mybutton{
       
        color: #333;
        font-size: 12px;
        padding-left: 18px;
        padding-right: 18px;
        background: url('https://webmail.adams.net/skins/classic/images/listheader.gif?v=ab42.314') repeat-x #f0f0f0;
        border: 1px solid #a4a4a4;
        font-weight: bold;
    
    }

    .info{
        color:rgb(145, 145, 145);
        text-align: center;
    }