body{
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
   
    background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1703101352/Globe_a3z7cx.gif');
    color: #000;
    font-size: 12px;

    height: 100vh;
    background-repeat: repeat;


}

.cardhead{

  
    padding: 5px 10px 4px 5px;
    border-bottom: 1px solid #999;
    color: white;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    background: url('http://webmail.citytel.net/openwebmail/images/bg-titleblue.gif');

}
.formdiv{
    border: 0.8px solid grey;
    margin: 0px;
}
.formrow{
	border: 0px;
	clear: both;
	margin-top: 10px;
	}

.prompt{
	width: 150px;
	margin-right:10px;
	text-align: right;
	float: left;
	color: #000;
   	font-weight:bold;
	}

.element{
	border: 0px;
	text-align: left;
	margin-left: 50px;
	font-weight: normal;
	}

    .inputwide{
        width: 60%;
    }

    .mybutton{
        height: 20px;
        color: #333;
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
        background: url('https://webmail.adams.net/skins/classic/images/listheader.gif?v=ab42.314') repeat-x #f0f0f0;
        border: 1px solid #a4a4a4;
        font-weight: bold;
    
    }

    .buttondiv{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .info{
        color:black;
        text-align: center;
        font-size: 14px;
    }

    .small{
        font-size: 11px;
    }