body{
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
   
    background-color: white;
    color: #000;
    font-size: 12px;

    height: 100vh;

}

.mainheading{
    font-size: 35px;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

.mainheading span{
    font-size: 35px;
    font-weight: 700;
    color: rgb(61, 61, 61);
}


.cardhead{

  
    padding: 5px 10px 4px 5px;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    background: url('https://webmail.adams.net/skins/classic/images/listheader.gif?v=ab42.314') top left repeat-x #CCC;
}
.formdiv{
    border: 0.8px solid grey;
    margin: 0px;
}
.formrow{
	border: 0px;
	clear: both;
	margin-top: 10px;
	}

.prompt{
	width: 150px;
	margin-right:10px;
	text-align: right;
	float: left;
	color: #000;
   	font-weight:bold;
	}

.element{
	border: 0px;
	text-align: left;
	margin-left: 50px;
	font-weight: normal;
	}

    .inputwide{
        width: 60%;
    }

    .mybutton{
        
       
        font-size: 12px;
        padding: 5px;

    
        font-weight: bold;
        width: 100%;

        border: none;
        border-color: #0e57ab;
    color: #fff;
    background: #0e57ab;
    background: linear-gradient(180deg, #0e57ab 0, #0e57ab);
    
    }

    .info{
        color:rgb(145, 145, 145);
        text-align: center;
    }

    .forgot{
        color:#1e75d9;
        text-decoration: none;
        font-weight: bold;
    }